@media (min-width: 1190px) {
.row .column1:first-child {
	margin-left: 0
}
.column1 {
	width: 90px;
	max-width: 90px;
	margin-left: 10px
}
input.column1, select.column1, textarea.column1 {
	width: 70px;
	max-width: 70px;
*width:50px;
*max-width:50px
}
img.column1 {
	float: none;
	height: auto;
	margin-left: 0
}
img.column1.polaroid {
	width: 70px
}
.row .column2:first-child {
	margin-left: 0
}
.column2 {
	width: 190px;
	max-width: 190px;
	margin-left: 10px
}
input.column2, select.column2, textarea.column2 {
	width: 170px;
	max-width: 170px;
*width:150px;
*max-width:150px
}
img.column2 {
	float: none;
	height: auto;
	margin-left: 0
}
img.column2.polaroid {
	width: 170px
}
.row .column3:first-child {
	margin-left: 0
}
.column3 {
	width: 290px;
	max-width: 290px;
	margin-left: 10px
}
input.column3, select.column3, textarea.column3 {
	width: 270px;
	max-width: 270px;
*width:250px;
*max-width:250px
}
img.column3 {
	float: none;
	height: auto;
	margin-left: 0
}
img.column3.polaroid {
	width: 270px
}
.row .column4:first-child {
	margin-left: 0
}
.column4 {
	width: 390px;
	max-width: 390px;
	margin-left: 10px
}
input.column4, select.column4, textarea.column4 {
	width: 370px;
	max-width: 370px;
*width:350px;
*max-width:350px
}
img.column4 {
	float: none;
	height: auto;
	margin-left: 0
}
img.column4.polaroid {
	width: 370px
}
.row .column5:first-child {
	margin-left: 0
}
.column5 {
	width: 490px;
	max-width: 490px;
	margin-left: 10px
}
input.column5, select.column5, textarea.column5 {
	width: 470px;
	max-width: 470px;
*width:450px;
*max-width:450px
}
img.column5 {
	float: none;
	height: auto;
	margin-left: 0
}
img.column5.polaroid {
	width: 470px
}
.row .column6:first-child {
	margin-left: 0
}
.column6 {
	width: 590px;
	max-width: 590px;
	margin-left: 10px
}
input.column6, select.column6, textarea.column6 {
	width: 570px;
	max-width: 570px;
*width:550px;
*max-width:550px
}
img.column6 {
	float: none;
	height: auto;
	margin-left: 0
}
img.column6.polaroid {
	width: 570px
}
.row .column7:first-child {
	margin-left: 0
}
.column7 {
	width: 690px;
	max-width: 690px;
	margin-left: 10px
}
input.column7, select.column7, textarea.column7 {
	width: 670px;
	max-width: 670px;
*width:650px;
*max-width:650px
}
img.column7 {
	float: none;
	height: auto;
	margin-left: 0
}
img.column7.polaroid {
	width: 670px
}
.row .column8:first-child {
	margin-left: 0
}
.column8 {
	width: 790px;
	max-width: 790px;
	margin-left: 10px
}
input.column8, select.column8, textarea.column8 {
	width: 770px;
	max-width: 770px;
*width:750px;
*max-width:750px
}
img.column8 {
	float: none;
	height: auto;
	margin-left: 0
}
img.column8.polaroid {
	width: 770px
}
.row .column9:first-child {
	margin-left: 0
}
.column9 {
	width: 890px;
	max-width: 890px;
	margin-left: 10px
}
input.column9, select.column9, textarea.column9 {
	width: 870px;
	max-width: 870px;
*width:850px;
*max-width:850px
}
img.column9 {
	float: none;
	height: auto;
	margin-left: 0
}
img.column9.polaroid {
	width: 870px
}
.row .column10:first-child {
	margin-left: 0
}
.column10 {
	width: 990px;
	max-width: 990px;
	margin-left: 10px
}
input.column10, select.column10, textarea.column10 {
	width: 970px;
	max-width: 970px;
*width:950px;
*max-width:950px
}
img.column10 {
	float: none;
	height: auto;
	margin-left: 0
}
img.column10.polaroid {
	width: 970px
}
.row .column11:first-child {
	margin-left: 0
}
.column11 {
	width: 1090px;
	max-width: 1090px;
	margin-left: 10px
}
input.column11, select.column11, textarea.column11 {
	width: 1070px;
	max-width: 1070px;
*width:1050px;
*max-width:1050px
}
img.column11 {
	float: none;
	height: auto;
	margin-left: 0
}
img.column11.polaroid {
	width: 1070px
}
.row .column12:first-child {
	margin-left: 0
}
.column12 {
	width: 1190px;
	max-width: 1190px;
	margin-left: 10px
}
input.column12, select.column12, textarea.column12 {
	width: 1170px;
	max-width: 1170px;
*width:1150px;
*max-width:1150px
}
img.column12 {
	float: none;
	height: auto;
	margin-left: 0
}
img.column12.polaroid {
	width: 1170px
}
.offset1 {
	margin-left: 100px
}
.offset2 {
	margin-left: 200px
}
.offset3 {
	margin-left: 300px
}
.offset4 {
	margin-left: 400px
}
.offset5 {
	margin-left: 500px
}
.offset6 {
	margin-left: 600px
}
.offset7 {
	margin-left: 700px
}
.offset8 {
	margin-left: 800px
}
.offset9 {
	margin-left: 900px
}
.offset10 {
	margin-left: 1000px
}
.offset11 {
	margin-left: 1100px
}
.offset12 {
	margin-left: 1200px
}
.container {
	max-width: 1200px;
*width:1200px
}
.row {
	margin-bottom: 10px
}
div.narrow .row .column1:first-child {
	margin-left: 0
}
div.narrow .column1 {
	width: 180px;
	max-width: 180px;
	margin-left: 20px
}
div.narrow input.column1, div.narrow select.column1, div.narrow textarea.column1 {
	width: 160px;
	max-width: 160px;
*width:140px;
*max-width:140px
}
div.narrow img.column1 {
	float: none;
	height: auto;
	margin-left: 0
}
div.narrow img.column1.polaroid {
	width: 160px
}
div.narrow .row .column2:first-child {
	margin-left: 0
}
div.narrow .column2 {
	width: 380px;
	max-width: 380px;
	margin-left: 20px
}
div.narrow input.column2, div.narrow select.column2, div.narrow textarea.column2 {
	width: 360px;
	max-width: 360px;
*width:340px;
*max-width:340px
}
div.narrow img.column2 {
	float: none;
	height: auto;
	margin-left: 0
}
div.narrow img.column2.polaroid {
	width: 360px
}
div.narrow .row .column3:first-child {
	margin-left: 0
}
div.narrow .column3 {
	width: 580px;
	max-width: 580px;
	margin-left: 20px
}
div.narrow input.column3, div.narrow select.column3, div.narrow textarea.column3 {
	width: 560px;
	max-width: 560px;
*width:540px;
*max-width:540px
}
div.narrow img.column3 {
	float: none;
	height: auto;
	margin-left: 0
}
div.narrow img.column3.polaroid {
	width: 560px
}
div.narrow .row .column4:first-child {
	margin-left: 0
}
div.narrow .column4 {
	width: 780px;
	max-width: 780px;
	margin-left: 20px
}
div.narrow input.column4, div.narrow select.column4, div.narrow textarea.column4 {
	width: 760px;
	max-width: 760px;
*width:740px;
*max-width:740px
}
div.narrow img.column4 {
	float: none;
	height: auto;
	margin-left: 0
}
div.narrow img.column4.polaroid {
	width: 760px
}
div.narrow .row .column5:first-child {
	margin-left: 0
}
div.narrow .column5 {
	width: 980px;
	max-width: 980px;
	margin-left: 20px
}
div.narrow input.column5, div.narrow select.column5, div.narrow textarea.column5 {
	width: 960px;
	max-width: 960px;
*width:940px;
*max-width:940px
}
div.narrow img.column5 {
	float: none;
	height: auto;
	margin-left: 0
}
div.narrow img.column5.polaroid {
	width: 960px
}
div.narrow .row .column6:first-child {
	margin-left: 0
}
div.narrow .column6 {
	width: 1180px;
	max-width: 1180px;
	margin-left: 20px
}
div.narrow input.column6, div.narrow select.column6, div.narrow textarea.column6 {
	width: 1160px;
	max-width: 1160px;
*width:1140px;
*max-width:1140px
}
div.narrow img.column6 {
	float: none;
	height: auto;
	margin-left: 0
}
div.narrow img.column6.polaroid {
	width: 1160px
}
div.narrow .row .column7:first-child {
	margin-left: 0
}
div.narrow .column7 {
	width: 1380px;
	max-width: 1380px;
	margin-left: 20px
}
div.narrow input.column7, div.narrow select.column7, div.narrow textarea.column7 {
	width: 1360px;
	max-width: 1360px;
*width:1340px;
*max-width:1340px
}
div.narrow img.column7 {
	float: none;
	height: auto;
	margin-left: 0
}
div.narrow img.column7.polaroid {
	width: 1360px
}
div.narrow .row .column8:first-child {
	margin-left: 0
}
div.narrow .column8 {
	width: 1580px;
	max-width: 1580px;
	margin-left: 20px
}
div.narrow input.column8, div.narrow select.column8, div.narrow textarea.column8 {
	width: 1560px;
	max-width: 1560px;
*width:1540px;
*max-width:1540px
}
div.narrow img.column8 {
	float: none;
	height: auto;
	margin-left: 0
}
div.narrow img.column8.polaroid {
	width: 1560px
}
div.narrow .row .column9:first-child {
	margin-left: 0
}
div.narrow .column9 {
	width: 1780px;
	max-width: 1780px;
	margin-left: 20px
}
div.narrow input.column9, div.narrow select.column9, div.narrow textarea.column9 {
	width: 1760px;
	max-width: 1760px;
*width:1740px;
*max-width:1740px
}
div.narrow img.column9 {
	float: none;
	height: auto;
	margin-left: 0
}
div.narrow img.column9.polaroid {
	width: 1760px
}
div.narrow .row .column10:first-child {
	margin-left: 0
}
div.narrow .column10 {
	width: 1980px;
	max-width: 1980px;
	margin-left: 20px
}
div.narrow input.column10, div.narrow select.column10, div.narrow textarea.column10 {
	width: 1960px;
	max-width: 1960px;
*width:1940px;
*max-width:1940px
}
div.narrow img.column10 {
	float: none;
	height: auto;
	margin-left: 0
}
div.narrow img.column10.polaroid {
	width: 1960px
}
div.narrow .row .column11:first-child {
	margin-left: 0
}
div.narrow .column11 {
	width: 2180px;
	max-width: 2180px;
	margin-left: 20px
}
div.narrow input.column11, div.narrow select.column11, div.narrow textarea.column11 {
	width: 2160px;
	max-width: 2160px;
*width:2140px;
*max-width:2140px
}
div.narrow img.column11 {
	float: none;
	height: auto;
	margin-left: 0
}
div.narrow img.column11.polaroid {
	width: 2160px
}
div.narrow .row .column12:first-child {
	margin-left: 0
}
div.narrow .column12 {
	width: 2380px;
	max-width: 2380px;
	margin-left: 20px
}
div.narrow input.column12, div.narrow select.column12, div.narrow textarea.column12 {
	width: 2360px;
	max-width: 2360px;
*width:2340px;
*max-width:2340px
}
div.narrow img.column12 {
	float: none;
	height: auto;
	margin-left: 0
}
div.narrow img.column12.polaroid {
	width: 2360px
}
div.narrow .offset1 {
	margin-left: 200px
}
div.narrow .offset2 {
	margin-left: 400px
}
div.narrow .offset3 {
	margin-left: 600px
}
div.narrow .offset4 {
	margin-left: 800px
}
div.narrow .offset5 {
	margin-left: 1000px
}
div.narrow .offset6 {
	margin-left: 1200px
}
div.narrow .offset7 {
	margin-left: 1400px
}
div.narrow .offset8 {
	margin-left: 1600px
}
div.narrow .offset9 {
	margin-left: 1800px
}
div.narrow .offset10 {
	margin-left: 2000px
}
div.narrow .offset11 {
	margin-left: 2200px
}
div.narrow .offset12 {
	margin-left: 2400px
}
div.narrow .container {
	max-width: 2400px;
*width:2400px
}
div.narrow .row {
	margin-bottom: 20px
}
div.wide .row .column1:first-child {
	margin-left: 0
}
div.wide .column1 {
	width: 45px;
	max-width: 45px;
	margin-left: 5px
}
div.wide input.column1, div.wide select.column1, div.wide textarea.column1 {
	width: 25px;
	max-width: 25px;
*width:5px;
*max-width:5px
}
div.wide img.column1 {
	float: none;
	height: auto;
	margin-left: 0
}
div.wide img.column1.polaroid {
	width: 25px
}
div.wide .row .column2:first-child {
	margin-left: 0
}
div.wide .column2 {
	width: 95px;
	max-width: 95px;
	margin-left: 5px
}
div.wide input.column2, div.wide select.column2, div.wide textarea.column2 {
	width: 75px;
	max-width: 75px;
*width:55px;
*max-width:55px
}
div.wide img.column2 {
	float: none;
	height: auto;
	margin-left: 0
}
div.wide img.column2.polaroid {
	width: 75px
}
div.wide .row .column3:first-child {
	margin-left: 0
}
div.wide .column3 {
	width: 145px;
	max-width: 145px;
	margin-left: 5px
}
div.wide input.column3, div.wide select.column3, div.wide textarea.column3 {
	width: 125px;
	max-width: 125px;
*width:105px;
*max-width:105px
}
div.wide img.column3 {
	float: none;
	height: auto;
	margin-left: 0
}
div.wide img.column3.polaroid {
	width: 125px
}
div.wide .row .column4:first-child {
	margin-left: 0
}
div.wide .column4 {
	width: 195px;
	max-width: 195px;
	margin-left: 5px
}
div.wide input.column4, div.wide select.column4, div.wide textarea.column4 {
	width: 175px;
	max-width: 175px;
*width:155px;
*max-width:155px
}
div.wide img.column4 {
	float: none;
	height: auto;
	margin-left: 0
}
div.wide img.column4.polaroid {
	width: 175px
}
div.wide .row .column5:first-child {
	margin-left: 0
}
div.wide .column5 {
	width: 245px;
	max-width: 245px;
	margin-left: 5px
}
div.wide input.column5, div.wide select.column5, div.wide textarea.column5 {
	width: 225px;
	max-width: 225px;
*width:205px;
*max-width:205px
}
div.wide img.column5 {
	float: none;
	height: auto;
	margin-left: 0
}
div.wide img.column5.polaroid {
	width: 225px
}
div.wide .row .column6:first-child {
	margin-left: 0
}
div.wide .column6 {
	width: 295px;
	max-width: 295px;
	margin-left: 5px
}
div.wide input.column6, div.wide select.column6, div.wide textarea.column6 {
	width: 275px;
	max-width: 275px;
*width:255px;
*max-width:255px
}
div.wide img.column6 {
	float: none;
	height: auto;
	margin-left: 0
}
div.wide img.column6.polaroid {
	width: 275px
}
div.wide .row .column7:first-child {
	margin-left: 0
}
div.wide .column7 {
	width: 345px;
	max-width: 345px;
	margin-left: 5px
}
div.wide input.column7, div.wide select.column7, div.wide textarea.column7 {
	width: 325px;
	max-width: 325px;
*width:305px;
*max-width:305px
}
div.wide img.column7 {
	float: none;
	height: auto;
	margin-left: 0
}
div.wide img.column7.polaroid {
	width: 325px
}
div.wide .row .column8:first-child {
	margin-left: 0
}
div.wide .column8 {
	width: 395px;
	max-width: 395px;
	margin-left: 5px
}
div.wide input.column8, div.wide select.column8, div.wide textarea.column8 {
	width: 375px;
	max-width: 375px;
*width:355px;
*max-width:355px
}
div.wide img.column8 {
	float: none;
	height: auto;
	margin-left: 0
}
div.wide img.column8.polaroid {
	width: 375px
}
div.wide .row .column9:first-child {
	margin-left: 0
}
div.wide .column9 {
	width: 445px;
	max-width: 445px;
	margin-left: 5px
}
div.wide input.column9, div.wide select.column9, div.wide textarea.column9 {
	width: 425px;
	max-width: 425px;
*width:405px;
*max-width:405px
}
div.wide img.column9 {
	float: none;
	height: auto;
	margin-left: 0
}
div.wide img.column9.polaroid {
	width: 425px
}
div.wide .row .column10:first-child {
	margin-left: 0
}
div.wide .column10 {
	width: 495px;
	max-width: 495px;
	margin-left: 5px
}
div.wide input.column10, div.wide select.column10, div.wide textarea.column10 {
	width: 475px;
	max-width: 475px;
*width:455px;
*max-width:455px
}
div.wide img.column10 {
	float: none;
	height: auto;
	margin-left: 0
}
div.wide img.column10.polaroid {
	width: 475px
}
div.wide .row .column11:first-child {
	margin-left: 0
}
div.wide .column11 {
	width: 545px;
	max-width: 545px;
	margin-left: 5px
}
div.wide input.column11, div.wide select.column11, div.wide textarea.column11 {
	width: 525px;
	max-width: 525px;
*width:505px;
*max-width:505px
}
div.wide img.column11 {
	float: none;
	height: auto;
	margin-left: 0
}
div.wide img.column11.polaroid {
	width: 525px
}
div.wide .row .column12:first-child {
	margin-left: 0
}
div.wide .column12 {
	width: 595px;
	max-width: 595px;
	margin-left: 5px
}
div.wide input.column12, div.wide select.column12, div.wide textarea.column12 {
	width: 575px;
	max-width: 575px;
*width:555px;
*max-width:555px
}
div.wide img.column12 {
	float: none;
	height: auto;
	margin-left: 0
}
div.wide img.column12.polaroid {
	width: 575px
}
div.wide .offset1 {
	margin-left: 50px
}
div.wide .offset2 {
	margin-left: 100px
}
div.wide .offset3 {
	margin-left: 150px
}
div.wide .offset4 {
	margin-left: 200px
}
div.wide .offset5 {
	margin-left: 250px
}
div.wide .offset6 {
	margin-left: 300px
}
div.wide .offset7 {
	margin-left: 350px
}
div.wide .offset8 {
	margin-left: 400px
}
div.wide .offset9 {
	margin-left: 450px
}
div.wide .offset10 {
	margin-left: 500px
}
div.wide .offset11 {
	margin-left: 550px
}
div.wide .offset12 {
	margin-left: 600px
}
div.wide .container {
	max-width: 600px;
*width:600px
}
div.wide .row {
	margin-bottom: 5px
}
}
@media (min-width: 758px) and (max-width: 950px) {
.row .column1:first-child {
	margin-left: 0
}
.column1 {
	width: 54px;
	max-width: 54px;
	margin-left: 10px
}
input.column1, select.column1, textarea.column1 {
	width: 34px;
	max-width: 34px;
*width:14px;
*max-width:14px
}
img.column1 {
	float: none;
	height: auto;
	margin-left: 0
}
img.column1.polaroid {
	width: 34px
}
.row .column2:first-child {
	margin-left: 0
}
.column2 {
	width: 118px;
	max-width: 118px;
	margin-left: 10px
}
input.column2, select.column2, textarea.column2 {
	width: 98px;
	max-width: 98px;
*width:78px;
*max-width:78px
}
img.column2 {
	float: none;
	height: auto;
	margin-left: 0
}
img.column2.polaroid {
	width: 98px
}
.row .column3:first-child {
	margin-left: 0
}
.column3 {
	width: 182px;
	max-width: 182px;
	margin-left: 10px
}
input.column3, select.column3, textarea.column3 {
	width: 162px;
	max-width: 162px;
*width:142px;
*max-width:142px
}
img.column3 {
	float: none;
	height: auto;
	margin-left: 0
}
img.column3.polaroid {
	width: 162px
}
.row .column4:first-child {
	margin-left: 0
}
.column4 {
	width: 246px;
	max-width: 246px;
	margin-left: 10px
}
input.column4, select.column4, textarea.column4 {
	width: 226px;
	max-width: 226px;
*width:206px;
*max-width:206px
}
img.column4 {
	float: none;
	height: auto;
	margin-left: 0
}
img.column4.polaroid {
	width: 226px
}
.row .column5:first-child {
	margin-left: 0
}
.column5 {
	width: 310px;
	max-width: 310px;
	margin-left: 10px
}
input.column5, select.column5, textarea.column5 {
	width: 290px;
	max-width: 290px;
*width:270px;
*max-width:270px
}
img.column5 {
	float: none;
	height: auto;
	margin-left: 0
}
img.column5.polaroid {
	width: 290px
}
.row .column6:first-child {
	margin-left: 0
}
.column6 {
	width: 374px;
	max-width: 374px;
	margin-left: 10px
}
input.column6, select.column6, textarea.column6 {
	width: 354px;
	max-width: 354px;
*width:334px;
*max-width:334px
}
img.column6 {
	float: none;
	height: auto;
	margin-left: 0
}
img.column6.polaroid {
	width: 354px
}
.row .column7:first-child {
	margin-left: 0
}
.column7 {
	width: 438px;
	max-width: 438px;
	margin-left: 10px
}
input.column7, select.column7, textarea.column7 {
	width: 418px;
	max-width: 418px;
*width:398px;
*max-width:398px
}
img.column7 {
	float: none;
	height: auto;
	margin-left: 0
}
img.column7.polaroid {
	width: 418px
}
.row .column8:first-child {
	margin-left: 0
}
.column8 {
	width: 502px;
	max-width: 502px;
	margin-left: 10px
}
input.column8, select.column8, textarea.column8 {
	width: 482px;
	max-width: 482px;
*width:462px;
*max-width:462px
}
img.column8 {
	float: none;
	height: auto;
	margin-left: 0
}
img.column8.polaroid {
	width: 482px
}
.row .column9:first-child {
	margin-left: 0
}
.column9 {
	width: 566px;
	max-width: 566px;
	margin-left: 10px
}
input.column9, select.column9, textarea.column9 {
	width: 546px;
	max-width: 546px;
*width:526px;
*max-width:526px
}
img.column9 {
	float: none;
	height: auto;
	margin-left: 0
}
img.column9.polaroid {
	width: 546px
}
.row .column10:first-child {
	margin-left: 0
}
.column10 {
	width: 630px;
	max-width: 630px;
	margin-left: 10px
}
input.column10, select.column10, textarea.column10 {
	width: 610px;
	max-width: 610px;
*width:590px;
*max-width:590px
}
img.column10 {
	float: none;
	height: auto;
	margin-left: 0
}
img.column10.polaroid {
	width: 610px
}
.row .column11:first-child {
	margin-left: 0
}
.column11 {
	width: 694px;
	max-width: 694px;
	margin-left: 10px
}
input.column11, select.column11, textarea.column11 {
	width: 674px;
	max-width: 674px;
*width:654px;
*max-width:654px
}
img.column11 {
	float: none;
	height: auto;
	margin-left: 0
}
img.column11.polaroid {
	width: 674px
}
.row .column12:first-child {
	margin-left: 0
}
.column12 {
	width: 758px;
	max-width: 758px;
	margin-left: 10px
}
input.column12, select.column12, textarea.column12 {
	width: 738px;
	max-width: 738px;
*width:718px;
*max-width:718px
}
img.column12 {
	float: none;
	height: auto;
	margin-left: 0
}
img.column12.polaroid {
	width: 738px
}
.offset1 {
	margin-left: 64px
}
.offset2 {
	margin-left: 128px
}
.offset3 {
	margin-left: 192px
}
.offset4 {
	margin-left: 256px
}
.offset5 {
	margin-left: 320px
}
.offset6 {
	margin-left: 384px
}
.offset7 {
	margin-left: 448px
}
.offset8 {
	margin-left: 512px
}
.offset9 {
	margin-left: 576px
}
.offset10 {
	margin-left: 640px
}
.offset11 {
	margin-left: 704px
}
.offset12 {
	margin-left: 768px
}
.container {
	max-width: 768px;
*width:768px
}
.row {
	margin-bottom: 10px
}
div.narrow .row .column1:first-child {
	margin-left: 0
}
div.narrow .column1 {
	width: 108px;
	max-width: 108px;
	margin-left: 20px
}
div.narrow input.column1, div.narrow select.column1, div.narrow textarea.column1 {
	width: 88px;
	max-width: 88px;
*width:68px;
*max-width:68px
}
div.narrow img.column1 {
	float: none;
	height: auto;
	margin-left: 0
}
div.narrow img.column1.polaroid {
	width: 88px
}
div.narrow .row .column2:first-child {
	margin-left: 0
}
div.narrow .column2 {
	width: 236px;
	max-width: 236px;
	margin-left: 20px
}
div.narrow input.column2, div.narrow select.column2, div.narrow textarea.column2 {
	width: 216px;
	max-width: 216px;
*width:196px;
*max-width:196px
}
div.narrow img.column2 {
	float: none;
	height: auto;
	margin-left: 0
}
div.narrow img.column2.polaroid {
	width: 216px
}
div.narrow .row .column3:first-child {
	margin-left: 0
}
div.narrow .column3 {
	width: 364px;
	max-width: 364px;
	margin-left: 20px
}
div.narrow input.column3, div.narrow select.column3, div.narrow textarea.column3 {
	width: 344px;
	max-width: 344px;
*width:324px;
*max-width:324px
}
div.narrow img.column3 {
	float: none;
	height: auto;
	margin-left: 0
}
div.narrow img.column3.polaroid {
	width: 344px
}
div.narrow .row .column4:first-child {
	margin-left: 0
}
div.narrow .column4 {
	width: 492px;
	max-width: 492px;
	margin-left: 20px
}
div.narrow input.column4, div.narrow select.column4, div.narrow textarea.column4 {
	width: 472px;
	max-width: 472px;
*width:452px;
*max-width:452px
}
div.narrow img.column4 {
	float: none;
	height: auto;
	margin-left: 0
}
div.narrow img.column4.polaroid {
	width: 472px
}
div.narrow .row .column5:first-child {
	margin-left: 0
}
div.narrow .column5 {
	width: 620px;
	max-width: 620px;
	margin-left: 20px
}
div.narrow input.column5, div.narrow select.column5, div.narrow textarea.column5 {
	width: 600px;
	max-width: 600px;
*width:580px;
*max-width:580px
}
div.narrow img.column5 {
	float: none;
	height: auto;
	margin-left: 0
}
div.narrow img.column5.polaroid {
	width: 600px
}
div.narrow .row .column6:first-child {
	margin-left: 0
}
div.narrow .column6 {
	width: 748px;
	max-width: 748px;
	margin-left: 20px
}
div.narrow input.column6, div.narrow select.column6, div.narrow textarea.column6 {
	width: 728px;
	max-width: 728px;
*width:708px;
*max-width:708px
}
div.narrow img.column6 {
	float: none;
	height: auto;
	margin-left: 0
}
div.narrow img.column6.polaroid {
	width: 728px
}
div.narrow .row .column7:first-child {
	margin-left: 0
}
div.narrow .column7 {
	width: 876px;
	max-width: 876px;
	margin-left: 20px
}
div.narrow input.column7, div.narrow select.column7, div.narrow textarea.column7 {
	width: 856px;
	max-width: 856px;
*width:836px;
*max-width:836px
}
div.narrow img.column7 {
	float: none;
	height: auto;
	margin-left: 0
}
div.narrow img.column7.polaroid {
	width: 856px
}
div.narrow .row .column8:first-child {
	margin-left: 0
}
div.narrow .column8 {
	width: 1004px;
	max-width: 1004px;
	margin-left: 20px
}
div.narrow input.column8, div.narrow select.column8, div.narrow textarea.column8 {
	width: 984px;
	max-width: 984px;
*width:964px;
*max-width:964px
}
div.narrow img.column8 {
	float: none;
	height: auto;
	margin-left: 0
}
div.narrow img.column8.polaroid {
	width: 984px
}
div.narrow .row .column9:first-child {
	margin-left: 0
}
div.narrow .column9 {
	width: 1132px;
	max-width: 1132px;
	margin-left: 20px
}
div.narrow input.column9, div.narrow select.column9, div.narrow textarea.column9 {
	width: 1112px;
	max-width: 1112px;
*width:1092px;
*max-width:1092px
}
div.narrow img.column9 {
	float: none;
	height: auto;
	margin-left: 0
}
div.narrow img.column9.polaroid {
	width: 1112px
}
div.narrow .row .column10:first-child {
	margin-left: 0
}
div.narrow .column10 {
	width: 1260px;
	max-width: 1260px;
	margin-left: 20px
}
div.narrow input.column10, div.narrow select.column10, div.narrow textarea.column10 {
	width: 1240px;
	max-width: 1240px;
*width:1220px;
*max-width:1220px
}
div.narrow img.column10 {
	float: none;
	height: auto;
	margin-left: 0
}
div.narrow img.column10.polaroid {
	width: 1240px
}
div.narrow .row .column11:first-child {
	margin-left: 0
}
div.narrow .column11 {
	width: 1388px;
	max-width: 1388px;
	margin-left: 20px
}
div.narrow input.column11, div.narrow select.column11, div.narrow textarea.column11 {
	width: 1368px;
	max-width: 1368px;
*width:1348px;
*max-width:1348px
}
div.narrow img.column11 {
	float: none;
	height: auto;
	margin-left: 0
}
div.narrow img.column11.polaroid {
	width: 1368px
}
div.narrow .row .column12:first-child {
	margin-left: 0
}
div.narrow .column12 {
	width: 1516px;
	max-width: 1516px;
	margin-left: 20px
}
div.narrow input.column12, div.narrow select.column12, div.narrow textarea.column12 {
	width: 1496px;
	max-width: 1496px;
*width:1476px;
*max-width:1476px
}
div.narrow img.column12 {
	float: none;
	height: auto;
	margin-left: 0
}
div.narrow img.column12.polaroid {
	width: 1496px
}
div.narrow .offset1 {
	margin-left: 128px
}
div.narrow .offset2 {
	margin-left: 256px
}
div.narrow .offset3 {
	margin-left: 384px
}
div.narrow .offset4 {
	margin-left: 512px
}
div.narrow .offset5 {
	margin-left: 640px
}
div.narrow .offset6 {
	margin-left: 768px
}
div.narrow .offset7 {
	margin-left: 896px
}
div.narrow .offset8 {
	margin-left: 1024px
}
div.narrow .offset9 {
	margin-left: 1152px
}
div.narrow .offset10 {
	margin-left: 1280px
}
div.narrow .offset11 {
	margin-left: 1408px
}
div.narrow .offset12 {
	margin-left: 1536px
}
div.narrow .container {
	max-width: 1536px;
*width:1536px
}
div.narrow .row {
	margin-bottom: 20px
}
div.wide .row .column1:first-child {
	margin-left: 0
}
div.wide .column1 {
	width: 27px;
	max-width: 27px;
	margin-left: 5px
}
div.wide input.column1, div.wide select.column1, div.wide textarea.column1 {
	width: 7px;
	max-width: 7px;
*width:-13px;
*max-width:-13px
}
div.wide img.column1 {
	float: none;
	height: auto;
	margin-left: 0
}
div.wide img.column1.polaroid {
	width: 7px
}
div.wide .row .column2:first-child {
	margin-left: 0
}
div.wide .column2 {
	width: 59px;
	max-width: 59px;
	margin-left: 5px
}
div.wide input.column2, div.wide select.column2, div.wide textarea.column2 {
	width: 39px;
	max-width: 39px;
*width:19px;
*max-width:19px
}
div.wide img.column2 {
	float: none;
	height: auto;
	margin-left: 0
}
div.wide img.column2.polaroid {
	width: 39px
}
div.wide .row .column3:first-child {
	margin-left: 0
}
div.wide .column3 {
	width: 91px;
	max-width: 91px;
	margin-left: 5px
}
div.wide input.column3, div.wide select.column3, div.wide textarea.column3 {
	width: 71px;
	max-width: 71px;
*width:51px;
*max-width:51px
}
div.wide img.column3 {
	float: none;
	height: auto;
	margin-left: 0
}
div.wide img.column3.polaroid {
	width: 71px
}
div.wide .row .column4:first-child {
	margin-left: 0
}
div.wide .column4 {
	width: 123px;
	max-width: 123px;
	margin-left: 5px
}
div.wide input.column4, div.wide select.column4, div.wide textarea.column4 {
	width: 103px;
	max-width: 103px;
*width:83px;
*max-width:83px
}
div.wide img.column4 {
	float: none;
	height: auto;
	margin-left: 0
}
div.wide img.column4.polaroid {
	width: 103px
}
div.wide .row .column5:first-child {
	margin-left: 0
}
div.wide .column5 {
	width: 155px;
	max-width: 155px;
	margin-left: 5px
}
div.wide input.column5, div.wide select.column5, div.wide textarea.column5 {
	width: 135px;
	max-width: 135px;
*width:115px;
*max-width:115px
}
div.wide img.column5 {
	float: none;
	height: auto;
	margin-left: 0
}
div.wide img.column5.polaroid {
	width: 135px
}
div.wide .row .column6:first-child {
	margin-left: 0
}
div.wide .column6 {
	width: 187px;
	max-width: 187px;
	margin-left: 5px
}
div.wide input.column6, div.wide select.column6, div.wide textarea.column6 {
	width: 167px;
	max-width: 167px;
*width:147px;
*max-width:147px
}
div.wide img.column6 {
	float: none;
	height: auto;
	margin-left: 0
}
div.wide img.column6.polaroid {
	width: 167px
}
div.wide .row .column7:first-child {
	margin-left: 0
}
div.wide .column7 {
	width: 219px;
	max-width: 219px;
	margin-left: 5px
}
div.wide input.column7, div.wide select.column7, div.wide textarea.column7 {
	width: 199px;
	max-width: 199px;
*width:179px;
*max-width:179px
}
div.wide img.column7 {
	float: none;
	height: auto;
	margin-left: 0
}
div.wide img.column7.polaroid {
	width: 199px
}
div.wide .row .column8:first-child {
	margin-left: 0
}
div.wide .column8 {
	width: 251px;
	max-width: 251px;
	margin-left: 5px
}
div.wide input.column8, div.wide select.column8, div.wide textarea.column8 {
	width: 231px;
	max-width: 231px;
*width:211px;
*max-width:211px
}
div.wide img.column8 {
	float: none;
	height: auto;
	margin-left: 0
}
div.wide img.column8.polaroid {
	width: 231px
}
div.wide .row .column9:first-child {
	margin-left: 0
}
div.wide .column9 {
	width: 283px;
	max-width: 283px;
	margin-left: 5px
}
div.wide input.column9, div.wide select.column9, div.wide textarea.column9 {
	width: 263px;
	max-width: 263px;
*width:243px;
*max-width:243px
}
div.wide img.column9 {
	float: none;
	height: auto;
	margin-left: 0
}
div.wide img.column9.polaroid {
	width: 263px
}
div.wide .row .column10:first-child {
	margin-left: 0
}
div.wide .column10 {
	width: 315px;
	max-width: 315px;
	margin-left: 5px
}
div.wide input.column10, div.wide select.column10, div.wide textarea.column10 {
	width: 295px;
	max-width: 295px;
*width:275px;
*max-width:275px
}
div.wide img.column10 {
	float: none;
	height: auto;
	margin-left: 0
}
div.wide img.column10.polaroid {
	width: 295px
}
div.wide .row .column11:first-child {
	margin-left: 0
}
div.wide .column11 {
	width: 347px;
	max-width: 347px;
	margin-left: 5px
}
div.wide input.column11, div.wide select.column11, div.wide textarea.column11 {
	width: 327px;
	max-width: 327px;
*width:307px;
*max-width:307px
}
div.wide img.column11 {
	float: none;
	height: auto;
	margin-left: 0
}
div.wide img.column11.polaroid {
	width: 327px
}
div.wide .row .column12:first-child {
	margin-left: 0
}
div.wide .column12 {
	width: 379px;
	max-width: 379px;
	margin-left: 5px
}
div.wide input.column12, div.wide select.column12, div.wide textarea.column12 {
	width: 359px;
	max-width: 359px;
*width:339px;
*max-width:339px
}
div.wide img.column12 {
	float: none;
	height: auto;
	margin-left: 0
}
div.wide img.column12.polaroid {
	width: 359px
}
div.wide .offset1 {
	margin-left: 32px
}
div.wide .offset2 {
	margin-left: 64px
}
div.wide .offset3 {
	margin-left: 96px
}
div.wide .offset4 {
	margin-left: 128px
}
div.wide .offset5 {
	margin-left: 160px
}
div.wide .offset6 {
	margin-left: 192px
}
div.wide .offset7 {
	margin-left: 224px
}
div.wide .offset8 {
	margin-left: 256px
}
div.wide .offset9 {
	margin-left: 288px
}
div.wide .offset10 {
	margin-left: 320px
}
div.wide .offset11 {
	margin-left: 352px
}
div.wide .offset12 {
	margin-left: 384px
}
div.wide .container {
	max-width: 384px;
*width:384px
}
div.wide .row {
	margin-bottom: 5px
}
}
@media (max-width: 757px) {
.container {
	max-width: 757px
}
}
