@media (min-width: 1190px) {
.smallDesktop {
	font-size: 80% !important
}
.largeDesktop {
	font-size: 200% !important
}
}
@media (min-width: 758px) and (max-width: 950px) {
.showPhone {
	display: none !important
}
.showTablet {
	display: inherit !important
}
.showDesktop {
	display: none !important
}
.hidePhone {
	display: inherit !important
}
.hideTablet {
	display: none !important
}
.hideDesktop {
	display: inherit !important
}
.smallTablet {
	font-size: 80% !important
}
.largeTablet {
	font-size: 200% !important
}
.textRightTablet {
	text-align: right !important
}
.textLeftTablet {
	text-align: left !important
}
.textCenterTablet {
	text-align: center !important
}
}
@media (max-width: 757px) {
.showPhone {
	display: inherit !important
}
.showTablet {
	display: none !important
}
.showDesktop {
	display: none !important
}
.hidePhone {
	display: none !important
}
.hideTablet {
	display: inherit !important
}
.hideDesktop {
	display: inherit !important
}
.smallPhone {
	font-size: 80% !important
}
.largePhone {
	font-size: 200% !important
}
.textRightPhone {
	text-align: right !important
}
.textLeftPhone {
	text-align: left !important
}
.textCenterPhone {
	text-align: center !important
}
.blockPhone {
	display: block !important
}
.container {
*max-width:100%;
	margin: 0 auto
}
.row {
	display: block;
	margin-left: 0
}
.column1 {
	width: 100%;
	max-width: none;
	float: none;
	height: auto;
	margin-left: 0
}
input.column1, select.column1, textarea.column1 {
	float: none;
	width: 100%;
	max-width: 100%
}
.column2 {
	width: 100%;
	max-width: none;
	float: none;
	height: auto;
	margin-left: 0
}
input.column2, select.column2, textarea.column2 {
	float: none;
	width: 100%;
	max-width: 100%
}
.column3 {
	width: 100%;
	max-width: none;
	float: none;
	height: auto;
	margin-left: 0
}
input.column3, select.column3, textarea.column3 {
	float: none;
	width: 100%;
	max-width: 100%
}
.column4 {
	width: 100%;
	max-width: none;
	float: none;
	height: auto;
	margin-left: 0
}
input.column4, select.column4, textarea.column4 {
	float: none;
	width: 100%;
	max-width: 100%
}
.column5 {
	width: 100%;
	max-width: none;
	float: none;
	height: auto;
	margin-left: 0
}
input.column5, select.column5, textarea.column5 {
	float: none;
	width: 100%;
	max-width: 100%
}
.column6 {
	width: 100%;
	max-width: none;
	float: none;
	height: auto;
	margin-left: 0
}
input.column6, select.column6, textarea.column6 {
	float: none;
	width: 100%;
	max-width: 100%
}
.column7 {
	width: 100%;
	max-width: none;
	float: none;
	height: auto;
	margin-left: 0
}
input.column7, select.column7, textarea.column7 {
	float: none;
	width: 100%;
	max-width: 100%
}
.column8 {
	width: 100%;
	max-width: none;
	float: none;
	height: auto;
	margin-left: 0
}
input.column8, select.column8, textarea.column8 {
	float: none;
	width: 100%;
	max-width: 100%
}
.column9 {
	width: 100%;
	max-width: none;
	float: none;
	height: auto;
	margin-left: 0
}
input.column9, select.column9, textarea.column9 {
	float: none;
	width: 100%;
	max-width: 100%
}
.column10 {
	width: 100%;
	max-width: none;
	float: none;
	height: auto;
	margin-left: 0
}
input.column10, select.column10, textarea.column10 {
	float: none;
	width: 100%;
	max-width: 100%
}
.column11 {
	width: 100%;
	max-width: none;
	float: none;
	height: auto;
	margin-left: 0
}
input.column11, select.column11, textarea.column11 {
	float: none;
	width: 100%;
	max-width: 100%
}
.column12 {
	width: 100%;
	max-width: none;
	float: none;
	height: auto;
	margin-left: 0
}
input.column12, select.column12, textarea.column12 {
	float: none;
	width: 100%;
	max-width: 100%
}
img {
	height: auto;
	max-width: 100%;
	margin-left: 0
}
}
